<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <meta charset="utf-8" lang="en">
    <title>Hangman</title>
  </head>

  <body>


    <div class="header">
      <h3>Hangman</h3>
      <h3>{{guessesLeft}} Guesses Left</h3>
    </div>
    <div class="messageWrapper">
    <div class="message">
      {{#message}}
      <span>{{.}}</span>
      {{/message}}
      {{^message}}
      <span> </span>
      {{/message}}
    </div>
  </div>
    <div class="flex">
      <div class="game">
        {{#mysteryWord}}
          <span>{{.}}</span>
        {{/mysteryWord}}
        <form action="/guess" method="post">
          <input type="text" name="letter" placeholder="Guess a Letter">
          <button type="submit" name="btn">Guess!</button>
        </form>
        <div class="guesses">
          <span>Letters Guessed:</span>
          {{#lettersGuessed}}
            <span>{{.}}</span>
          {{/lettersGuessed}}
        </div>
      </div>
    </div>
  </body>

</html>
