<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <meta charset="utf-8" lang="en">
    <title>Hangman</title>
  </head>

  <body>


    <div class="header">
      <h3>Hangman</h3>
      <h3>{{}} Guesses Left</h3>
    </div>
    <div class="flex">
      <div class="game">
        <p>{{mysteryWord}}</p>
        <form action="/guess" method="post">
        <input type="text" name="letter" placeholder="Guess a Letter">
        <button type="submit" name="btn">Guess!</button>
      </form>
      <div class="guesses">
        <p>Letters Guessed Correctly:</p>
        <p>{{lettersGuessed}}</p>
        <p>Letters Attempted:</p>
        <p>{{lettersAttempted}}</p>
      </div>
      </div>
    </div>
  </body>

</html>
