<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <meta charset="utf-8" lang="en">
    <title>Hangman</title>
  </head>

  <body>
    <div class="game">
      <div class="header">
        <h3>Hangman</h3>
        <h3>6 Guesses Left</h3>
      </div>
      <p> _ _ _ _ _</p>
      <input type="text" name="input" placeholder="Guess a Letter">
      <button class="btn" type="button" name="btn">Guess!</button>
    </div>
  </body>

</html>
