<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <meta charset="utf-8" lang="en">
    <title>/CIA/topSecret/failure/</title>
  </head>

  <body>
    <div class="resultsWrapper">
      <h1>You failed your training</h1>
      <h2>We will not have another failure</h2>
      <h2>Reenter you're taining and try again!</h2>
      <div class="resultsImg">
        <img src="ciaTrainingFail.jpg" alt="CIA Failure Photo">
      </div>
      <form action="/" method="get">
      <button id="btn" type="submit">Try Again!</button>
      </form>
    </div>

  </body>

</html>
