<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="win.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <meta charset="utf-8" lang="en">
    <title>/CIA/topSecret/success/</title>
  </head>

  <body>
    <img src="win.png" alt="">

  </body>

</html>
