<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="screen.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <meta charset="utf-8" lang="en">
    <title>/CIA/topSecret/success/</title>
  </head>

  <body>
    <div id="winImg" class="resultsWrapper">
      <div class="group">
        <h1>Congratulations</h1>
        <h2>You passed you're training</h2>
      </div>
      <form action="/" method="get">
        <button id="btn" type="submit">Try Again!</button>
      </form>
    </div>

  </body>

</html>
