body {
  margin: 1em 2em;
}

.messageWrapper {
  display: flex;
  justify-content: center;
}

.message {
  display: inline-block;
  color: red ;
  margin-top: 1em;
  text-align: center;
  border-radius: .2em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  margin: 6em 0;
  text-align: center;
}
